# Ambientes virtuais
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Datasets
data/
datasets/

# Modelos treinados
*.pt
*.pth
*.ckpt

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Credenciais e chaves
.env
*.json
